
/1
/src/build/observer
/src/dist
src/3
src/2
src/1
/src/output
src/1.py
src/pypi.json
src/pypi.json
src/observer.ini
src/4
/2
src/test1.py
src/test.out
/src/tools/__pycache__
/src/tools/__pycache__
src/tools/1
src/Doxyfile
src/tools/collection.py
src/tools/data001.py
src/tools/data002.py
src/tools/data003.py
src/tools/data004.py
src/tools/data005.py
/src/tools/__pycache__
src/tools/__pycache__/data001.cpython-310.pyc
src/tools/__pycache__/data002.cpython-310.pyc
src/__pycache__/__init__.cpython-310.pyc
src/__pycache__/observer.cpython-310.pyc
src/__pycache__/observer.cpython-311.pyc
src/tools/__pycache__/data001.cpython-310.pyc
src/tools/__pycache__/data002.cpython-310.pyc
src/__pycache__/observer.cpython-310.pyc.gz
src/interpreter/pascal/__pycache__/pascal.cpython-310.pyc
src/unicodedata.pyd
src/select.pyd
src/_socket.pyd
src/_lzma.pyd
src/_hashlib.pyd
src/_decimal.pyd
src/_ctypes.pyd
src/_bz2.pyd
src/data.db
src/observer.exe
src/z.py
src/get-pip.py
src/interpreter/pascal/__pycache__/pascal.cpython-312.pyc
src/img/doxygen.jpg
src/ui_untitled.py
src/interpreter/dbase/__pycache__/dbase.cpython-312.pyc
src/observer.log
src/interpreter/__pycache__/RunTimeLibrary.cpython-312.pyc
src/interpreter/__pycache__/ParserDSL.cpython-312.pyc
src/interpreter/__pycache__/parser.cpython-312.pyc
src/interpreter/__pycache__/EParserException.cpython-312.pyc
src/interpreter/__pycache__/VisualComponentLibrary.cpython-312.pyc
src/interpreter/dbase/__pycache__/dbaseConsole.cpython-312.pyc
src/interpreter/doxygen/__pycache__/doxygen.cpython-312.pyc
src/loc2.txt
src/loc.txt
src/build/test.pro
src/build/1.pro
src/chat1_fileAdata.db
src/chat2_fileBdata.db
src/chat1.db
src/chat3.db
doc/help.lck
doc/help.hnd-journal
doc/help.hnd
doc/help.chm
src/help.chm
doc/1
doc/dummy.hnd
doc/src/help.hnd
doc/tee.pas
doc/2
doc/src/dummy.hnd
online/
src/locales/en_us/LC_MESSAGES/observer.po.bak
src/tools.pro/flags/img
/src/i1
/src/interpreter
/src/t2
src/stub.py
src/build.py
src/_internal/observer.log
src/_internal/observer.log
/_internal
src/libimpPythonLoader.a
src/_internal/1
src/z
src/packed.zip
src/test.html
/src/bak
doc/Commodore C64/BASIC/Programmers Desk Reference/eBook.lck
*.gz
*.gz
/src/lexpr
src/_internal/temp/4
src/_internal/temp/3
src/_internal/temp/2
src/_internal/temp/1
src/_internal/temp/test.html
src/observer.py.bak
src/build.bat.bak
src/server.py.bak
src/start.bat.bak
src/client.py.bak
src/build.bat.bak
src/xx2.py.bak
src/xx3.py.bak
src/xx11.py.bak
src/xx1.py
src/xx3.py
src/xx10.py
src/locales/de_de/LC_MESSAGES/observer.po.bak
src/tools.pro/__pycache__/stub.cpython-313.pyc
src/tools.pro/__pycache__/zipfiles.cpython-313.pyc
src/tools.pro/flags/__pycache__/downresize.cpython-313.pyc
src/build_loc.bat.bak
src/build.bat.bak
src/build.bat.bak
src/Exception.py.bak
src/build.bat.bak
src/TException.py.bak
src/TMemory.py.bak
src/TObject.py.bak
src/tools.py.bak
src/TStream.py.bak
src/winsetup.py.bak
src/ExceptionHandler.py.bak
src/build.bat.bak
src/memory.py.bak
src/TList.py.bak
src/TApplication.py.bak
src/TStatusBar.py.bak
src/z1.py.bak
src/TMenuBar.py.bak
src/TMainWindow.py.bak
src/start.py
src/start.py.bak
src/c647.py
src/c646.py
src/c645.py.bak
src/c645.py
src/c644.py
src/c643.py
src/c642.py
src/c64.py
src/C64_Pro-STYLE.ttf
src/C64_Pro_Mono-STYLE.ttf
src/c646.py.bak
src/tools.pro/windows/status.py.bak
src/tools.pro/windows/data/WinLastStatus.db.bak
src/tools.pro/windows/data/WinLastError.db.bak
src/test.exe
src/bak.txt
src/setup/setup.bat.bak
src/setup/CheckHostsFile.ps1.bak
src/setup/AddHostsEntry.ps1.bak
/src/html
src/start-server.bat.bak
src/_internal/locales/en_us/LC_HELP/help.po.bak
src/_internal/locales/de_de/LC_HELP/help.po.bak
src/__pycache__/TApplication.cpython-313.pyc
src/__pycache__/TException.cpython-313.pyc
src/__pycache__/TMainWindow.cpython-313.pyc
src/__pycache__/TMemory.cpython-313.pyc
src/__pycache__/TMenuBar.cpython-313.pyc
src/__pycache__/TObject.cpython-313.pyc
src/__pycache__/tools.cpython-313.pyc
src/__pycache__/server.cpython-313.pyc
src/__pycache__/TStatusBar.cpython-313.pyc
src/__pycache__/TStream.cpython-313.pyc
src/__pycache__/_internal/bootstrap/tet/index.html.bak
src/__pycache__/_internal/bootstrap/xp/login.html.bak
src/__pycache__/_internal/bootstrap/xp/login.html.bak
src/__pycache__/_internal/bootstrap/xp/login.html.bak
src/client-windows.py.bak
src/start-client.py.bak
src/client-windows.py.bak
src/client-windows.py.bak
src/client-windows.py.bak
src/_internal/data/c64-basic.json.bak
src/client-windows.py.bak
src/client-windows.py.bak
src/__pycache__/examples/basic/tmp/1
src/2.bak
src/client-windows.py.bak
src/src/pyinstaller/
src/__pycache__/res.cpython-313.pyc
src/_internal/img/flags/1
src/_internal/img/flags/test.txt
src/client-windows.py.bak
src/img_data.qrc.bak
src/resources.qrc.bak
/doc/Commodore C64/BASIC/Programmers Desk Reference/output
src/__pycache__/parsetab.cpython-313.pyc
src/__pycache__/paslex.cpython-313.pyc
src/__pycache__/pasyacc.cpython-313.pyc
src/pascal.pas.bak
src/paslex.py.bak
src/pastest2.py.bak
src/pasyacc.py.bak
*.html
*.bak
*.bak
