
/1
/src/build/observer
/src/dist
src/3
src/2
src/1
src/__pycache__/data.db
src/__pycache__/img/*
/src/output
src/1.py
src/pypi.json
src/pypi.json
src/observer.ini
src/locales/en_us/LC_MESSAGES/observer.mo
src/locales/de_de/LC_MESSAGES/observer.mo
src/4
src/__pycache__/locales/en_us/LC_MESSAGES/observer.po
src/__pycache__/locales/de_de/LC_MESSAGES/observer.po
src/__pycache__/locales/en_us/LC_MESSAGES/observer.mo
/2
src/test1.py
src/test.out
/src/tools/__pycache__
/src/tools/__pycache__
src/tools/1
src/Doxyfile
src/tools/collection.py
src/tools/data001.py
src/tools/data002.py
src/tools/data003.py
src/tools/data004.py
src/tools/data005.py
/src/tools/__pycache__
src/tools/__pycache__/data001.cpython-310.pyc
src/tools/__pycache__/data002.cpython-310.pyc
src/__pycache__/__init__.cpython-310.pyc
src/__pycache__/observer.cpython-310.pyc
src/__pycache__/observer.cpython-311.pyc
src/tools/__pycache__/data001.cpython-310.pyc
src/tools/__pycache__/data002.cpython-310.pyc
src/__pycache__/observer.cpython-310.pyc.gz
src/interpreter/pascal/__pycache__/pascal.cpython-310.pyc
/src/__pycache__
src/unicodedata.pyd
src/select.pyd
src/_socket.pyd
src/_lzma.pyd
src/_hashlib.pyd
src/_decimal.pyd
src/_ctypes.pyd
src/_bz2.pyd
src/data.db
src/observer.exe
src/z.py
src/get-pip.py
src/interpreter/pascal/__pycache__/pascal.cpython-312.pyc
src/img/doxygen.jpg
src/ui_untitled.py
src/interpreter/dbase/__pycache__/dbase.cpython-312.pyc
src/observer.log
src/interpreter/__pycache__/RunTimeLibrary.cpython-312.pyc
src/interpreter/__pycache__/ParserDSL.cpython-312.pyc
src/interpreter/__pycache__/parser.cpython-312.pyc
src/interpreter/__pycache__/EParserException.cpython-312.pyc
src/interpreter/__pycache__/VisualComponentLibrary.cpython-312.pyc
src/interpreter/dbase/__pycache__/dbaseConsole.cpython-312.pyc
src/interpreter/doxygen/__pycache__/doxygen.cpython-312.pyc
src/loc2.txt
src/loc.txt
src/build/test.pro
src/build/1.pro
src/chat1_fileAdata.db
src/chat2_fileBdata.db
src/chat1.db
src/chat3.db
doc/help.lck
doc/help.hnd-journal
doc/help.hnd
doc/help.chm
src/help.chm
doc/1
doc/Help Documentation
doc/Help Documentation
doc/dummy.hnd
doc/src/help.hnd
doc/tee.pas
doc/2
doc/src/dummy.hnd
online/
src/_internal/locales/en_us/LC_MESSAGES/observer.mo.gz
src/_internal/locales/de_de/LC_MESSAGES/observer.mo.gz
src/locales/en_us/LC_MESSAGES/observer.po.bak
src/tools.pro/flags/img
*.pyc
/src/i1
/src/interpreter
/src/t2
