*.bak
*.pyc
/1
/src/build/observer
/src/dist
src/3
src/2
src/1
/src/output
src/1.py
src/pypi.json
src/pypi.json
src/observer.ini
src/4
/2
src/test1.py
src/test.out
__pycache__
src/tools/1
src/Doxyfile
src/tools/collection.py
src/tools/data001.py
src/tools/data002.py
src/tools/data003.py
src/tools/data004.py
src/tools/data005.py
/src/tools/__pycache__
src/__pycache__/observer.cpython-310.pyc.gz
src/interpreter/pascal/__pycache__/pascal.cpython-310.pyc
src/_bz2.pyd
src/data.db
src/observer.exe
src/z.py
src/get-pip.py
src/ui_untitled.py
src/observer.log
src/loc2.txt
src/loc.txt
src/build/test.pro
src/build/1.pro
src/chat1_fileAdata.db
src/chat2_fileBdata.db
src/chat1.db
src/chat3.db
doc/help.lck
doc/help.hnd-journal
doc/help.hnd
doc/help.chm
src/help.chm
doc/1
doc/dummy.hnd
doc/src/help.hnd
doc/tee.pas
doc/2
doc/src/dummy.hnd
online/
src/tools.pro/flags/img
/src/i1
/src/interpreter
/src/t2
src/stub.py
src/build.py
src/_internal/observer.log
src/libimpPythonLoader.a
src/_internal/1
src/z
src/packed.zip
src/test.html
/src/bak
/src/lexpr
src/_internal/temp/4
src/_internal/temp/3
src/_internal/temp/2
src/_internal/temp/1
src/_internal/temp/test.html
src/xx1.py
src/xx3.py
src/xx10.py
src/start.py
src/c647.py
src/c646.py
src/c645.py
src/c644.py
src/c643.py
src/c642.py
src/c64.py
src/C64_Pro-STYLE.ttf
src/C64_Pro_Mono-STYLE.ttf
src/test.exe
src/bak.txt
/src/html
src/__pycache__/examples/basic/tmp/1
src/src/pyinstaller/
src/_internal/img/flags/1
src/_internal/img/flags/test.txt
/doc/Commodore C64/BASIC/Programmers Desk Reference/output
/src/build
*.webp
src/_internal/img/keyboard/1
src/resources_rc.py
src/elektro/~WRL3250.tmp
src/elektro/~$lektro.docx
packed.zip
nasm.exe
upx.exe
